<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="car.borad.project.mapper.mapper">
    <select id="getAll" resultType="car.borad.project.vo.object">
        SELECT * FROM user limit 1 
    </select>
    <select id="getPws" resultType="car.borad.project.vo.object">
        select * from user 
    </select>
    <select id="postLogin" resultType="car.borad.project.vo.object">
        SELECT * FROM user where ids = #{ids} 
    </select>
    <select id="getDuplicate" resultType="car.borad.project.vo.object">
        SELECT ids ,email FROM user 
    </select>
    <select id="getMemberDuplicate" resultType="car.borad.project.vo.object">
        SELECT model FROM carinfo 
    </select>
    <insert id="postMember" parameterType="car.borad.project.vo.object">
        insert into carinfo(model, engine, file) values(#{model}, #{engine}, #{file}) 
    </insert>
    <insert id="postMembers" parameterType="car.borad.project.vo.object">
        insert into user(ids, pw, name,email) values(#{ids}, #{pw}, #{name}, #{email}) 
    </insert>
    <insert id="postOrganizes" parameterType="car.borad.project.vo.object">
        insert into organize(name, organize, bookings,last) values(#{names}, #{organize}, #{bookings}, #{last}) 
    </insert>
</mapper>