<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="car.borad.project.mapper.mapper">
    <select id="getAlls" resultType="car.borad.project.vo.Account">
        SELECT *
			FROM user ORDER BY ids desc
    </select>
    <select id="getAll" resultType="car.borad.project.vo.Account">
        SELECT *
			FROM carinfo as A
			INNER JOIN test.user as B ON A.ids = B.ids
    </select>
    <select id="getPws" resultType="car.borad.project.vo.Account">
        select * from user 
    </select>
    <select id="postLogin" resultType="car.borad.project.vo.Account">
        SELECT * FROM user where ids = #{ids}
     </select>
    <select id="getDuplicate" resultType="car.borad.project.vo.Account">
        SELECT ids ,email FROM user 
    </select>
    <select id="getMemberDuplicate" resultType="car.borad.project.vo.CarInfo">
        SELECT model FROM carinfo 
    </select>
    <insert id="postMember" parameterType="car.borad.project.vo.CarInfo">
        insert into carinfo(ids,model, engine, file) values(#{ids},#{model}, #{engine}, #{file}) 
    </insert>
    <insert id="postMembers" parameterType="car.borad.project.vo.Account">
        insert into user(ids,pw, name,email) values(#{ids}, #{pw}, #{name}, #{email})
    </insert>
    <insert id="postOrganizes" parameterType="car.borad.project.vo.Organize">
        insert into organize(name, organize, bookings,last) values(#{names}, #{organize}, #{bookings}, #{last}) 
    </insert>
    
    <!-- 차량 정보 -->
    
    <insert id="postCarFuel" parameterType="car.borad.project.vo.CarInfo">
        insert into fuel(fuel,ids) values(#{fuel},#{ids}) 
    </insert>
    
    <insert id="postCarOiling" parameterType="car.borad.project.vo.CarInfo">
        insert into oiling(oiling,ids) values(#{oiling},#{ids}) 
    </insert>
    
    <insert id="postCarMileage" parameterType="car.borad.project.vo.CarInfo">
        insert into mileage(mileage,ids) values(#{mileage},#{ids}) 
    </insert>
    
    <insert id="postCarEvent" parameterType="car.borad.project.vo.CarInfo">
        insert into event(event,ids) values(#{event},#{ids}) 
    </insert>
    
    <!-- 차량 정보 -->
    
    <select id="getCarInfo" resultType="car.borad.project.vo.CarInfo">
    
       SELECT A.ids, A.file , B.`event`,C.fuel,D.mileage,E.oiling,F.name , A.model
		FROM carinfo as A
		INNER JOIN test.`event`   as B ON A.ids = B.ids
		INNER JOIN test.`fuel`    as C ON B.ids = C.ids
		INNER JOIN test.`mileage` as D ON C.ids = D.ids
		INNER JOIN test.`oiling`  as E ON D.ids = E.ids
		INNER JOIN test.`user`    as F ON E.ids = F.ids
		
	</select>
    
</mapper>